= form_with(model: @interview, local: true, url: new_interview_path) do |f|
  - if @interview.errors.any?
    #errors
      %h2
      = pluralize(@interview.errors.count, "error")
      prevented this post from being saved
      %ul 
        - @interview.errors.full_messages.each do |msg|
          %li= msg
  .form.form-primary
    .form-group
      = f.label :title
      = f.text_field :title, input_html: { class: 'form-control'} 
    .form-group
      = f.label :description
      = f.text_field :description, input_html: { class: 'form-control'}
    .form-group
      = f.label :members
      = f.text_field :members, input_html: { class: 'form-control'}
    .form-group
      = f.label :start_time
      = f.datetime_field :scheduled_time, input_html: { class: 'form-control'}
    .form-group
      = f.label :end_time
      = f.datetime_field :end_time, input_html: { class: 'form-control'}
    .form-group
      = f.file_field :resume
    =f.button :submit, class: "btn btn-primary" 
