%h1= @interview.title
%p= @interview.description
Interviewee:
= @interview.user.email
%br
= link_to "Back", root_path
= link_to "Edit", edit_interview_path
= link_to "Delete", interview_path, method: :delete, data: {confirm: "Are you sure?"} 